html{
    font-family: 'Radio Canada', sans-serif;
}

.cv-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 1200px;
    margin: 100px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.left-column{
    grid-area: left-column;
    padding: 50px;
    background-color: #4472C4;
    color: white;
}
  .right-column{
    grid-area: right-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
      "header"
      "content";
  }

.header{
    grid-area: header;
    padding: 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content{
    grid-area: content;
    padding: 50px;
}

.text-blue{
    color: #4472C4;
  }
  .text-darkblue{
    color: #002060;
  }
  .text-uppercase{
    text-transform: uppercase; 
  }
  .icon{
    margin-right: .5rem;
  }

  .portait{
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
  .skills{
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 1px; /* Espace les lettres entre elles de 1px */
    margin: 0 0 1rem;
  }

  .section{
    margin-bottom: 1.5rem;
  }

  .infos{
    columns: 2;
    list-style-type: none;
    padding: 0;
  }